<template>
    <perfect-scrollbar class="flex-1">
        <div class="pages_home_create-user-screen page">
            <h1>Create new user</h1>
            <div class="margin-bottom-40px">
                <a-card>
                    <a-form
                        layout="vertical"
                        :form="form"
                    >
                        <a-form-item
                            label="Email address"
                        >
                            <a-input v-decorator="['email', {rules: [{ required: true, message: '' }]}]"
                                     :disabled="submitting" placeholder=""/>
                        </a-form-item>
                        <a-form-item
                            label="First name"
                        >
                            <a-input v-decorator="['first_name']" :disabled="submitting" placeholder=""/>
                        </a-form-item>
                        <a-form-item
                            label="Last name"
                        >
                            <a-input v-decorator="['last_name']" :disabled="submitting" placeholder=""/>
                        </a-form-item>
                        <a-form-item
                            label="Phone number"
                        >
                            <a-input v-decorator="['phone_number']" :disabled="submitting" placeholder=""/>
                        </a-form-item>
                        <a-form-item
                        >
                            <div class="margin-top-15px text-right">
                                <a-button type="primary" @click="createUser" :loading="submitting">Create user
                                </a-button>
                            </div>
                        </a-form-item>
                    </a-form>
                </a-card>
            </div>
        </div>
    </perfect-scrollbar>
</template>

<script>

    import {CREATE_USER} from "../../../store/actions";

    export default {
        data() {
            return {
                form: this.$form.createForm(this, {}),
                submitting: false
            };
        },
        beforeCreate() {

        },
        computed: {},
        methods: {
            createUser() {
                this.form.validateFields((err, values) => {
                    if (!err) {
                        this.submitting = true;
                        this.$store.dispatch(CREATE_USER, values)
                            .then(() => {
                                this.form.resetFields();
                                this.$notification.success({
                                    message: `SUCCESS`,
                                    description: `User ${values.email} has been created`,
                                });
                            })
                            .catch((error) => {
                                this.$notification.error({
                                    message: `ERROR: ${error.name}`,
                                    description: error.message || "",
                                });
                            })
                            .finally(() => {
                                this.submitting = false;
                            })
                    }
                });

            }
        }
    }
</script>
