@import "../../../variables";

.pages_home_user-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;


    .list-users {
        //-- flex 1 will do the rest
        height: 0;

        .ant-collapse-item.disabled {
            .ant-collapse-header{
                text-decoration: line-through;
                color: $danger-color;
            }
        }

    }
}
