<template>
    <div class="pages_home_user-screen page">
        <h1>User information</h1>
        <div class="margin-bottom-40px">
            <h3>
                Filter
            </h3>
            <div class="d-flex">
                <a-input-search
                    :allowClear="true"
                    class="margin-right-15px"
                    placeholder="Search by username"
                    @search="onSearch"/>
                <a-select
                    showSearch
                    :allowClear="true"
                    placeholder="Filter by role"
                    optionFilterProp="children"
                    class="min-width-120px margin-right-15px"
                    @change="handleRoleChange"
                >
                    <a-select-option v-for="role in allRoles"
                                     :key="role.id"
                                     :value="role.id">{{role.role_name}}
                    </a-select-option>
                </a-select>
                <a-select
                    :defaultValue="limit"
                    placeholder="Filter by role"
                    optionFilterProp="children"
                    class="min-width-120px"
                    @change="handleLimitChange"
                    :options="pagingOptions"
                >
                </a-select>
            </div>
        </div>

        <div class="flex-1 d-flex flex-column align-items-stretch justify-content-between">
            <h3>
                Result
            </h3>
            <div class="flex-1 d-flex flex-column align-items-stretch">
                <div class="pagination margin-bottom-15px">
                    <div class="d-flex">
                        <a-switch :defaultChecked="showDisabled"
                                  @change="showDisabled = !showDisabled">
                        </a-switch>
                        <span class="margin-left-15px">Show disabled users</span>
                    </div>
                    <a-pagination
                        simple
                        :defaultCurrent="currentPage"
                        :pageSize="limit"
                        :total="total"
                        @change="handlePageChange"
                    />
                </div>
                <div class="flex-1 list-users">
                    <perfect-scrollbar>
                        <div v-if="loading" class="text-center margin-top-15px">
                            <a-icon type="sync" spin/>
                            <span class="margin-left-10px">Loading result...</span>
                        </div>
                        <div v-if="!loading">
                            <div class="text-center font-italic" v-if="!allUsers || !allUsers.length">
                                No result found
                            </div>
                            <a-collapse accordion>
                                <a-collapse-panel
                                    v-for="user in allUsers"
                                    :key="user.user.id"
                                    :class="{disabled: user.principal && user.principal.disabled}"
                                    :header="user.user.email">
                                    <div class="d-flex flex-column align-items-stretch">
                                        <a-form :form="form">
                                            <div class="data-field">
                                                <span class="key">ID</span>
                                                <div class="value">
                                                    <span>{{user.user.id}}</span>
                                                </div>
                                            </div>
                                            <div class="data-field">
                                                <span class="key">Email</span>
                                                <div class="value">
                                                    <span v-if="!isEdit(user)" class="value">{{user.user.email}}</span>
                                                    <a-form-item>
                                                        <a-input
                                                            v-if="isEdit(user)"
                                                            v-decorator="[
                                                      'email',
                                                      { initialValue: user.user.email, rules: [{ required: true, message: '' }]},
                                                    ]"
                                                        />
                                                    </a-form-item>
                                                </div>
                                            </div>
                                            <div class="data-field">
                                                <span class="key">First name</span>
                                                <div class="value">
                                                    <span v-if="!isEdit(user)"
                                                          class="value">{{user.user.first_name}}</span>
                                                    <a-form-item>
                                                        <a-input
                                                            v-if="isEdit(user)"
                                                            v-decorator="[
                                                              'first_name',
                                                              { initialValue: user.user.first_name },
                                                            ]"
                                                        />
                                                    </a-form-item>
                                                </div>
                                            </div>
                                            <div class="data-field">
                                                <span class="key">Last name</span>
                                                <div class="value">
                                                    <span v-if="!isEdit(user)"
                                                          class="value">{{user.user.last_name}}</span>
                                                    <a-form-item>
                                                        <a-input
                                                            v-if="isEdit(user)"
                                                            v-decorator="[
                                                              'last_name',
                                                              { initialValue: user.user.last_name },
                                                            ]"
                                                        />
                                                    </a-form-item>
                                                </div>
                                            </div>
                                            <div class="data-field">
                                                <span class="key">Phone number</span>
                                                <div class="value">
                                                <span v-if="!isEdit(user)"
                                                      class="value">{{user.user.phone_number}}</span>
                                                    <a-form-item>
                                                        <a-input
                                                            v-if="isEdit(user)"
                                                            v-decorator="[
                                                              'phone_number',
                                                              { initialValue: user.user.phone_number },
                                                            ]"
                                                        />
                                                    </a-form-item>
                                                </div>
                                            </div>
                                            <div class="data-field">
                                                <span class="key">Roles</span>
                                                <div class="value">
                                                    <div v-if="!isEdit(user)"
                                                         class="value">
                                                        <div v-if="!user.roles.length" class="font-italic">
                                                            No role attached
                                                        </div>
                                                        <div v-if="user.roles.length">{{ getListRoles(user.roles) }}
                                                        </div>
                                                    </div>
                                                    <div class="font-weight-normal">
                                                        <a-form-item v-if="isEdit(user)">
                                                            <a-select
                                                                showSearch
                                                                :allowClear="true"
                                                                placeholder="Select user roles"
                                                                optionFilterProp="children"
                                                                class="min-width-120px margin-right-15px"
                                                                mode="multiple"
                                                                v-decorator="[
                                                                  'user_roles',
                                                                  {initialValue: user.roles.map(u=>u.id)}
                                                                ]"
                                                            >
                                                                <a-select-option v-for="role in allRoles"
                                                                                 :key="role.id"
                                                                                 :value="role.id">{{role.role_name}}
                                                                </a-select-option>
                                                            </a-select>
                                                        </a-form-item>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-end margin-top-15px">
                                                <a-button
                                                    v-if="!isEdit(user)"
                                                    class="margin-left-10px"
                                                    type="primary"
                                                    shape="circle"
                                                    icon="edit"
                                                    size="small"
                                                    @click="editUser(user)"/>
                                                <div
                                                    v-if="isEdit(user)"
                                                    class="d-flex"
                                                >
                                                    <a-switch :checked="!user.principal.disabled"
                                                              @change="toggleDisable">
                                                    </a-switch>

                                                    <a-popconfirm
                                                        arrowPointAtCenter
                                                        title="Delete this user, you sure?"
                                                        @confirm="handleDelete"
                                                        okText="Yes"
                                                        cancelText="No"
                                                    >
                                                        <a-button
                                                            class="margin-left-10px"
                                                            type="danger"
                                                            shape="circle"
                                                            icon="delete"
                                                            size="small"
                                                        />
                                                    </a-popconfirm>

                                                    <a-button
                                                        class="margin-left-10px"
                                                        type="primary"
                                                        shape="circle"
                                                        icon="save"
                                                        size="small"
                                                        @click="handleSubmit()"/>
                                                    <a-button
                                                        class="margin-left-10px"
                                                        shape="circle"
                                                        icon="close"
                                                        size="small"
                                                        @click="editUser()"/>
                                                </div>
                                            </div>
                                        </a-form>
                                    </div>
                                </a-collapse-panel>
                            </a-collapse>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import "./user-screen.scss";
    import {DELETE_USER, DISABLE_PRINCIPAL, GET_ALL_ROLES, GET_ALL_USERS, UPDATE_USER} from "../../../store/actions";

    export default {
        data() {
            return {
                email: "",
                roleId: undefined,
                limit: 10,
                currentPage: 0,
                maxPage: 0,
                editingUser: undefined,
                form: this.$form.createForm(this, {}),
                showDisabled: true,
                filteredRoles: this.allRoles,
                loading: false,
            }
        },
        beforeCreate() {
            //-- list roles
            this.$store.dispatch(GET_ALL_ROLES)
                .catch((err) => {
                    this.$notification.error({message: "ERROR " + GET_ALL_ROLES, description: err.name});
                });
        },
        created() {
            this.currentPage = 1;
            this.searchUsers();
        },
        computed: {
            pagingOptions() {
                return [10, 100, 1000].map(v => ({value: v, label: 'Limit ' + v}));
            },
            total() {
                return this.maxPage * this.limit;
            },
            allRoles() {
                return this.$store.state.roles.filter(r => !r.is_system_role);
            },
            allUsers() {
                return this.$store.state.users.map((u) => ({
                    user: u,
                    principal: this.$store.state.principals.find((p) => p.id === u.principal_id),
                    roles: this.$store.state.roles
                        .filter(r => this.$store.state.principalRoles.filter(pr => pr.principal_id === u.principal_id).map(ur => ur.role_id).includes(r.id)),
                })).filter(u => this.showDisabled || !u.principal.disabled);
            },
            getQueryObject() {
                return {
                    email: this.email,
                    roleId: this.roleId,
                    limit: this.limit,
                    page: this.currentPage,
                }
            }
        },
        methods: {
            getListRoles(roles) {
                return roles.reduce((collector, r, index) => collector + r.role_name + (index < roles.length - 1 ? ", " : ""), "");
            },
            isEdit(user) {
                return this.editingUser && this.editingUser === user;
            },
            onSearch(value) {
                this.email = value;
                this.searchUsers();
            },
            handleRoleChange(value) {
                this.roleId = value;
                this.searchUsers();
            },
            handleLimitChange(value) {
                this.limit = value;
                this.searchUsers();
            },
            handlePageChange(value) {
                this.currentPage = value;
                this.searchUsers();
            },
            searchUsers() {
                this.loading = true;
                this.$store.dispatch(GET_ALL_USERS, this.getQueryObject)
                    .catch((err) => {
                        this.$notification.error({message: "ERROR " + GET_ALL_USERS, description: err.name});
                    })
                    .finally(() => {
                        setTimeout(() => {
                            this.loading = false;
                        }, 100);
                    });
            },
            editUser(user) {
                this.editingUser = user;
            },
            handleSubmit() {
                this.form.validateFields((err, values) => {
                    if (!err) {
                        this.$store.dispatch(UPDATE_USER, {
                            id: this.editingUser.user.id,
                            principal_id: this.editingUser.user.principal_id, ...values
                        })
                            .then(() => {
                                //-- close edit
                                this.editUser();
                            })
                            .catch((error) => {
                                this.$notification.error({
                                    message: 'ERROR',
                                    description: error.name,
                                });
                            });
                    }
                });
            },
            handleDelete() {
                this.$store.dispatch(DELETE_USER, {id: this.editingUser.user.id})
                    .catch((error) => {
                        this.$notification.error({
                            message: 'ERROR',
                            description: error.name,
                        });
                    });
            },
            toggleDisable(e) {
                this.$store.dispatch(DISABLE_PRINCIPAL, {id: this.editingUser.user.principal_id, disabled: !e})
                    .catch((error) => {
                        this.$notification.error({
                            message: 'ERROR',
                            description: error.name,
                        });
                    });
            }
        },
        watch: {
            allUsers(newValue) {
                if (newValue && (newValue.length < this.limit)) {
                    this.maxPage = this.currentPage;
                } else {
                    this.maxPage = Math.max(this.maxPage, this.currentPage + 1);
                }
            },
        }
    }
</script>
