.components_language-selector {
    .guide, .selector {
        img {
            height: 30px;
        }
    }

    .selector a {
        img {
            opacity: 0.2;
        }

        &:hover {
            img {
                opacity: 0.5;
            }
        }

        &.selected {
            img {
                opacity: 1;
            }
        }

    }
}
