<template>
    <div class="components_language-selector d-flex margin-bottom-15px">
        <div class="guide">
        </div>
        <div class="selector">
            <a :class="{selected: 'en' === selectedLang}" @click="changeLanguage('en')">
                <img class="margin-right-10px" src="../../assets/i18n/en.svg"/>
            </a>
            <a :class="{selected: 'vi' === selectedLang}" @click="changeLanguage('vi')">
                <img src="../../assets/i18n/vi.svg"/>
            </a>
        </div>
    </div>
</template>

<script>
    import "./lang-selector.scss"

    export default {
        computed: {
            selectedLang() {
                return this.$root.$i18n.locale;
            }
        },
        methods: {
            changeLanguage(lang) {
                this.$root.$i18n.locale = lang;
            }
        }
    }
</script>
