@import "variables";

// css reset
html, body {
    padding: 0;
    margin: 0;

    background-color: $main-color;
    color: $main-text-color;

    a:hover {
        text-decoration: underline !important;
    }
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
}


//-- some utility classes
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}


.justify-content-between {
    justify-content: space-between;
}

.max-width {
    width: 100%;
}

.text-right {
    text-align: right;
}

.min-width-120px {
    min-width: 120px;
}

.max-width-400px {
    max-width: 400px;
}

//-- text styling
.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

$distances: 5 10 15 30;
$directions: left top right bottom;

@each $distance in $distances {
    @each $direction in $directions {
        .margin-#{$direction}-#{$distance}px {
            margin-#{$direction}: #{$distance}px;
        }
    }
}
