@import "../../variables";

.pages_main {
    flex: 1;
    display: flex;

    .ps {
        height: 100%;

        .side-menu {
            background-color: #001529;
            height: 100%;

            .avatar {
                padding: 34px 24px;

                .info {
                    .username {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .main-content {
        flex: 1;
        display: flex;
        padding: 24px;
        height: 100%;
        position: relative;

        .page {
            flex: 1;

            h1, h3 {
                color: $main-text-color;
            }

            .data-field {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .key {
                    margin: 10px 0;
                }

                .value {
                    text-align: right;
                    min-width: 240px;
                    font-weight: bold;


                    .ant-row, .ant-form-item-with-help {
                        margin-bottom: 0;
                    }

                    .ant-form-explain {
                        display: none;
                    }
                }

            }

            .pagination {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .ant-pagination-simple-pager {
                    color: $main-text-color;

                    input {
                        color: $main-color;
                    }
                }
            }
        }
    }
}
