<template>
    <div class="pages_main">
        <perfect-scrollbar>
            <div class="side-menu">
                <div class="avatar d-flex">
                    <a-avatar
                        icon="user"
                        size="large"
                        shape="circle"/>
                    <div class="info text-right">
                        <div class="username">{{ userInfo && userInfo.email }}</div>
                        <div class="signout"><a @click="signOut()">{{ $t("sign_out") }}</a></div>
                    </div>
                </div>
                <a-menu
                    @click="handleClick"
                    style="width: 256px"
                    :defaultSelectedKeys="['1']"
                    mode="inline"
                    theme="dark"
                >
                    <a-sub-menu key="sub1">
                        <span slot="title"><a-icon type="team"/><span>{{ $t("user_management")}}</span></span>
                        <a-menu-item key="/home/users">{{ $t("user_info") }}</a-menu-item>
                        <a-menu-item key="/home/users/new">{{ $t("create_new_user") }}</a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="sub2">
                        <span slot="title"><a-icon type="cluster"/><span>{{ $t("roles_and_policies") }}</span></span>
                        <a-menu-item key="/home/roles">{{ $t("roles") }}</a-menu-item>
                        <a-menu-item key="/home/policies">{{ $t("policies_and_permissions") }}</a-menu-item>
                    </a-sub-menu>
                    <a-sub-menu key="sub3">
                        <span slot="title"><a-icon type="api"/><span>{{ $t("app_management") }}</span></span>
                    </a-sub-menu>
                </a-menu>
            </div>
        </perfect-scrollbar>
        <div class="main-content flex-1">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import "./main-page.scss";
    import {LOG_OUT} from "../../store/actions";

    export default {
        computed: {
            userInfo() {
                return this.$store.state.user && this.$store.state.user.userInfo;
            }
        },
        methods: {
            signOut() {
                this.$store.dispatch(LOG_OUT)
                    .then(() => {
                        this.$router.replace("/").catch(() => {
                        });
                    });
            },
            handleClick(e) {
                this.$router.push(e.key).catch(() => {
                });
            },
        },
    };
</script>
