<template>
    <div class="pages_login d-flex justify-content-center flex-column">
        <div class="wrapper">
            <a-card :hoverable="true" :bordered="false">
                <lang-selector/>

                <a-form
                    class="login-form"
                    :form="form"
                    @submit="handleSubmit"
                >
                    <a-form-item>
                        <a-input
                            v-decorator="[
          'username',
          { rules: [{ required: true, message: ' ' }] },
        ]"
                            :placeholder="$t('username')"
                        >
                            <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)"/>
                        </a-input>
                    </a-form-item>
                    <a-form-item>
                        <a-input
                            v-decorator="[
                          'password',
                          { rules: [{ required: true, message: ' ' }] },
                        ]"
                            type="password"
                            :placeholder="$t('password')"
                        >
                            <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)"/>
                        </a-input>
                    </a-form-item>
                    <a-form-item>
                        <div class="d-flex">
                            <a-checkbox
                                v-decorator="[
                              'remember',
                              {
                                valuePropName: 'checked',
                                initialValue: true,
                              },
                            ]"
                            >
                                {{ $t("remember_me") }}
                            </a-checkbox>
                            <a class="login-form-forgot" href="">
                                {{ $t("forgot_password") }}
                            </a>
                        </div>
                        <div>
                            <a-button type="primary" html-type="submit" class="login-form-button max-width">
                                {{ $t("log_in") }}
                            </a-button>
                        </div>
                    </a-form-item>
                </a-form>
            </a-card>
        </div>
    </div>
</template>

<script>
    import "./login-page.scss";
    import LangSelector from "../../components/lang-selector/LanguageSelector";
    import {LOG_IN} from "../../store/actions";

    export default {
        data() {
            return {
                form: this.$form.createForm(this)
            }
        },
        components: {
            LangSelector,
        },
        methods: {
            handleSubmit(e) {
                e.preventDefault();
                this.form.validateFields((err, values) => {
                    if (!err) {
                        this.$store.dispatch(LOG_IN, {username: values.username, password: values.password})
                            .then(() => {
                                this.$router.replace("/home").catch(() => {
                                });
                            })
                            .catch((error) => {
                                this.$notification.error({
                                    message: 'ERROR',
                                    description: error.name,
                                });
                            });
                    }
                });
            },
            changeLanguage(lang) {
                this.$root.$i18n.locale = lang;
            }
        },
    };
</script>
