<template>
    <perfect-scrollbar class="flex-1">
        <div class="pages_home_role-management page">
            <h1>Policy management</h1>
            <a-card>
                <div
                    class="policy-tab"
                >
                    <a-tabs
                        :activeKey="activeKey"
                        tabPosition="left"
                        @prevClick="changeTab"
                        @nextClick="changeTab"
                        @change="changeTab"
                    >
                        <a-tab-pane v-for="policy in policies" :tab="policy.policy.policy_name" :key="policy.policy.id">
                            <a-form
                                :form="editForm"
                            >
                                <div>
                                    <h3>Policy</h3>
                                    <div class="d-flex align-items-stretch flex-column margin-bottom-30px">
                                        <div class="d-flex align-items-start margin-bottom-5px">
                                            <div>Name</div>
                                            <div>
                                                <div v-if="!isEdit(policy)">{{policy.policy.policy_name}}</div>
                                                <div v-if="isEdit(policy)">
                                                    <a-form-item>
                                                        <a-input
                                                            v-decorator="['policy_name', {initialValue: policy.policy.policy_name, rules: [{required: true}]}]"></a-input>
                                                    </a-form-item>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start margin-bottom-5px">
                                            <div>Granted</div>
                                            <div>{{getGrantedNumber(policy)}}</div>
                                        </div>
                                    </div>
                                    <h3>Granted permissions</h3>
                                    <div class="margin-bottom-30px">
                                        <a-list bordered
                                                :dataSource="getGroupedPermissions(getDisplayedPermissions(policy))"
                                                :locale="{'emptyText': 'No permission allowed'}"
                                        >
                                            <a-list-item slot="renderItem" slot-scope="item">
                                                <div v-if="!isEdit(policy)"
                                                     class="d-flex flex-column align-items-stretch flex-1 ">
                                                    <div class="font-weight-bold margin-bottom-10px">
                                                        {{item.groupName}}
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <div v-for="type in item.type"
                                                             :key="type.typeName"
                                                             class="flex-1 margin-left-30px"
                                                        >
                                                            <div>
                                                                <a-icon type="setting"></a-icon>
                                                                <span class="font-weight-bold margin-left-10px">{{type.typeName}}</span>
                                                            </div>
                                                            <div v-for="permission in type.permissions"
                                                                 :key="permission.permissionId"
                                                                 class="margin-left-30px"
                                                            >
                                                                <a-icon type="check"></a-icon>
                                                                <span
                                                                    class="margin-left-10px">{{permission.permissionName}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-if="isEdit(policy)"
                                                     class="d-flex flex-column align-items-stretch flex-1 ">
                                                    <div class="font-weight-bold margin-bottom-10px">
                                                        <a-checkbox
                                                            :indeterminate="isGroupIndeterminate(item)"
                                                            @change="onCheckAllGroupChange(item)"
                                                            :checked="isCheckedAll(item)">
                                                            {{ item.groupName }}
                                                        </a-checkbox>
                                                    </div>
                                                    <div class="d-flex align-items-start">
                                                        <div v-for="type in item.type"
                                                             :key="type.typeName"
                                                             class="flex-1 margin-left-30px"
                                                        >
                                                            <div class="margin-bottom-5px">
                                                                <a-checkbox
                                                                    :indeterminate="isTypeIndeterminate(type)"
                                                                    @change="onCheckAllTypeChange(type)"
                                                                    :checked="isTypeCheckedAll(type)">
                                                                    {{ type.typeName }}
                                                                </a-checkbox>
                                                            </div>
                                                            <div v-for="permission in type.permissions"
                                                                 :key="permission.permissionId"
                                                                 class="margin-left-30px"
                                                            >
                                                                <a-checkbox
                                                                    @change="onCheckChange(permission)"
                                                                    :checked="isPermissionChecked(permission)">
                                                                    {{ permission.permissionName }}
                                                                </a-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a-list-item>
                                        </a-list>
                                    </div>
                                    <h3>Conditions</h3>
                                    <div>
                                        <a-list
                                            v-if="!isEdit(policy)"
                                            bordered
                                            :dataSource="getAttachedConditions(policy)"
                                            :locale="{'emptyText': 'No condition'}"
                                        >
                                            <a-list-item slot="renderItem" slot-scope="item">
                                                <div
                                                    class="margin-bottom-15px d-flex flex-1 flex-column align-items-stretch">
                                                    <div class="font-weight-bold">
                                                        <a-icon type="check"></a-icon>
                                                        <span class="margin-left-10px">{{ item.operator }}</span>
                                                    </div>
                                                    <div class="margin-left-30px margin-top-5px">
                                                        <div v-if="item.valueType === 1"></div>
                                                        <div v-if="item.valueType === 2"></div>
                                                        <div v-if="item.valueType === 3"></div>
                                                        <div v-if="item.valueType === 4">
                                                            <a-tag v-for="value in item.value"
                                                                   :key="value">{{value}}
                                                            </a-tag>
                                                        </div>
                                                        <div v-if="item.valueType === 5"></div>
                                                    </div>
                                                </div>
                                            </a-list-item>
                                        </a-list>
                                        <a-list
                                            v-if="isEdit(policy)"
                                            bordered
                                            :dataSource="possibleConditions"
                                            :locale="{'emptyText': 'No condition'}"
                                        >
                                            <a-list-item slot="renderItem" slot-scope="item">
                                                <div
                                                    class="margin-bottom-15px d-flex flex-1 flex-column align-items-stretch">
                                                    <a-form-item>
                                                        <div class="flex-1">
                                                            <div>
                                                                <a-checkbox
                                                                    :checked="isConditionChecked(item)"
                                                                    @change="onChangeCondition(item)"
                                                                >
                                                            <span
                                                                class="font-weight-bold">{{ item.operatorName }}</span>
                                                                </a-checkbox>
                                                            </div>
                                                            <div v-if="isConditionChecked(item)" class="flex-1">
                                                                <div v-if="item.valueType === 1">
                                                                </div>
                                                                <div v-if="item.valueType === 2">
                                                                </div>
                                                                <div v-if="item.valueType === 3">
                                                                </div>
                                                                <div v-if="item.valueType === 4">
                                                                    <a-select
                                                                        mode="multiple"
                                                                        optionFilterProp="children"
                                                                        placeholder="Select constraint value"
                                                                        @change="conditionConstraintChange(item, $event)"
                                                                        style="width: 100%"
                                                                        v-decorator="['condition_constraint_value', {initialValue: item.value, rules: [{required: true}]}]"
                                                                    >
                                                                        <a-select-option
                                                                            v-for="constraint in item.valueConstraint"
                                                                            :key="constraint" :value="constraint">
                                                                            {{ constraint }}
                                                                        </a-select-option>
                                                                    </a-select>
                                                                </div>
                                                                <div v-if="item.valueType === 5">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a-form-item>
                                                </div>
                                            </a-list-item>
                                        </a-list>
                                    </div>
                                </div>
                                <div>
                                    <div class="margin-top-15px">
                                        <div class="d-flex justify-content-end align-items-center"
                                             v-if="policy.policy.is_read_only">
                                            <a-icon type="lock"/>
                                            <div class="margin-left-10px font-italic">This policy is not modifiable
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="!policy.policy.is_read_only"
                                         class="d-flex align-items-center justify-content-end margin-top-15px">
                                        <a-button
                                            v-if="!isEdit(policy)"
                                            class="margin-left-10px"
                                            type="primary"
                                            shape="circle"
                                            icon="edit"
                                            size="small"
                                            @click="editPolicy(policy)"/>
                                        <div
                                            v-if="isEdit(policy)"
                                            class="d-flex"
                                        >
                                            <a-popconfirm
                                                arrowPointAtCenter
                                                title="Delete this policy, you sure?"
                                                @confirm="handleDelete"
                                                okText="Yes"
                                                cancelText="No"
                                            >
                                                <a-button
                                                    class="margin-left-10px"
                                                    type="danger"
                                                    shape="circle"
                                                    icon="delete"
                                                    size="small"
                                                />
                                            </a-popconfirm>

                                            <a-button
                                                class="margin-left-10px"
                                                type="primary"
                                                shape="circle"
                                                icon="save"
                                                size="small"
                                                @click="handleSubmit"/>
                                            <a-button
                                                class="margin-left-10px"
                                                shape="circle"
                                                icon="close"
                                                size="small"
                                                @click="editPolicy()"/>
                                        </div>
                                    </div>
                                </div>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane tab="Create new policy +"></a-tab-pane>
                    </a-tabs>
                </div>
            </a-card>
            <a-modal
                title="Create new policy"
                :closable="false"
                :maskClosable="false"
                :visible="modalVisible"
                :confirmLoading="confirmLoading"
                @ok="createPolicy"
                @cancel="closeDialog"
            >
                <a-form
                    layout="vertical"
                    :form="form"
                >
                    <a-form-item
                        label="Policy name"
                    >
                        <a-input v-decorator="['policy_name', {rules: [{ required: true, message: '' }]}]"
                                 :disabled="confirmLoading" placeholder="Name of policy to create"/>
                    </a-form-item>
                </a-form>
            </a-modal>
        </div>
    </perfect-scrollbar>
</template>

<script>

    import {
        CREATE_POLICY,
        GET_ALL_POLICIES,
        UPDATE_POLICY,
        DELETE_POLICY,
    } from "../../../store/actions";
    import AFormItem from "ant-design-vue/es/form/FormItem";

    // const ConditionValueType = {
    //
    //     /**
    //      * Any string value. Constraint is a regex.
    //      */
    //     STRING: 1,
    //
    //     /**
    //      * Numerical value. Constraint is {from: number, to: number, integer: boolean} encoded into string.
    //      */
    //     NUMBER: 2,
    //
    //     /**
    //      * Yes or No. No constraint.
    //      */
    //     BOOLEAN: 3,
    //
    //     /**
    //      * An unlimited list of string values. Constraint is whether emptiness is allowed.
    //      */
    //     LIST: 3,
    //
    //     /**
    //      * A list of choices. Constraint is the list of choices.
    //      */
    //     CHOICES: 4,
    //
    //     /**
    //      * A list of mutual exclusive choices. Constraint is the list of choices.
    //      */
    //     MUTEXCHOICES: 5,
    // };

    export default {
        components: {AFormItem},
        data() {
            return {
                editingPolicy: undefined,
                form: this.$form.createForm(this, {}),
                editForm: this.$form.createForm(this, {}),
                modalVisible: false,
                confirmLoading: false,
                activeKey: 0,
                selectedPermissions: [],
                selectedConditions: [],
            }
        },
        beforeCreate() {
            //-- load all policies
            this.$store.dispatch(GET_ALL_POLICIES)
                .catch((err) => {
                    this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                });
        },
        computed: {
            policies() {
                return this.$store.state.policies.map((p) => ({
                    policy: p,
                    permissions: this.$store.state.allPermissions.filter(per => this.$store.state.policyPermissions.filter(pp => pp.policy_id === p.id).map(pp => pp.permission).includes(per.permissionId)),
                    conditionData: this.$store.state.policyConditions.filter(pc => pc.policy_id === p.id).map(pc => ({
                        ...pc,
                        value: pc.value && JSON.parse(pc.value)
                    })),
                }));
            },
            possibleConditions() {
                let allConditions = [];
                this.selectedPermissions.forEach(per => {
                    per.conditions.forEach(con => {
                        let index = allConditions.findIndex(c => c.operator === con.operatorName);
                        if (index < 0) {
                            //-- check if there is value in conditionData
                            let conditionData = this.editingPolicy.conditionData.find(cd => cd.operator === con.operatorName) || {};
                            allConditions.push({
                                ...con,
                                operator: con.operatorName,
                                valueConstraint: con.valueConstraint && JSON.parse(con.valueConstraint),
                                value: conditionData && conditionData.value,
                            });
                        }
                    });
                });
                return allConditions;
            }
        },
        methods: {
            //-- conditions
            getAttachedConditions(policy) {
                let allConditions = [];
                policy.permissions.forEach((per) => {
                    per.conditions.forEach((con) => {
                        if (allConditions.findIndex(c => c.operatorName === con.operatorName) < 0) {
                            allConditions.push(con);
                        }
                    });
                });
                return policy.conditionData.map((con) => {
                    let index = allConditions.findIndex(c => c.operatorName === con.operator);
                    con = {
                        ...con,
                        value: con.value,
                    };
                    return index < 0 ? con : {
                        ...con, ...allConditions[index],
                        valueConstraint: allConditions[index].valueConstraint && JSON.parse(allConditions[index].valueConstraint)
                    };
                });
            },

            conditionConstraintChange(condition, value) {
                let index = this.selectedConditions.findIndex(c => c.operator === condition.operatorName);
                if (index >= 0) {
                    this.selectedConditions[index] = {...this.selectedConditions[index], value};
                }
            },
            onChangeCondition(condition) {
                let index = this.selectedConditions.findIndex((conditionData) => conditionData.operator === condition.operatorName);
                if (index < 0) {
                    //-- add the condition data
                    this.selectedConditions.push({
                        ...condition,
                        operator: condition.operatorName,
                    });
                } else {
                    this.selectedConditions.splice(index, 1);
                }
            },
            isConditionChecked(item) {
                return this.selectedConditions.findIndex(c => c.operator === item.operatorName) >= 0;
            },

            //-- policy & permissions
            onCheckAllGroupChange(group) {
                let checkedPermissions = this.selectedPermissions.filter(per => per.permissionGroup === group.groupName);

                let groupPermissions = Object.keys(group.type).reduce((collector, typeName) => {
                    return collector.concat(group.type[typeName].permissions);
                }, []);


                if (!checkedPermissions.length) {
                    //-- check all permissions
                    groupPermissions.forEach(per => {
                        this.selectedPermissions.push(per);
                    });
                } else if (checkedPermissions.length < groupPermissions.length) {
                    //-- grant the rest
                    groupPermissions.filter(per => checkedPermissions.findIndex(p => p.permissionId === per.permissionId) < 0).forEach(per => {
                        this.selectedPermissions.push(per);
                    })
                } else {
                    //-- un grant all
                    groupPermissions.forEach(per => {
                        let index = this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId);
                        if (index >= 0) {
                            this.selectedPermissions.splice(index, 1);
                        }
                    });
                }
            },
            onCheckAllTypeChange(type) {
                let checkedPermissions = this.selectedPermissions.filter(per => type.permissions.findIndex(p => p.permissionId === per.permissionId) >= 0);
                if (!checkedPermissions.length) {
                    //-- grant all
                    type.permissions.forEach(per => {
                        this.selectedPermissions.push(per);
                    });
                } else if (checkedPermissions.length < type.permissions.length) {
                    //-- grant the rest
                    type.permissions.filter(per => this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId) < 0).forEach(per => {
                        this.selectedPermissions.push(per);
                    });
                } else {
                    //-- remove all
                    type.permissions.forEach(per => {
                        let index = this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId);
                        if (index >= 0) {
                            this.selectedPermissions.splice(index, 1);
                        }
                    });
                }
            },
            isCheckedAll(group) {
                let groupPermissions = Object.keys(group.type).reduce((collector, typeName) => {
                    return collector.concat(group.type[typeName].permissions);
                }, []);
                return groupPermissions.every(per => this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId) >= 0);
            },
            isTypeCheckedAll(type) {
                let count = type.permissions.filter(per => this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId) >= 0).length;
                return count === type.permissions.length;
            },
            isGroupIndeterminate(group) {
                let groupPermissions = Object.keys(group.type).reduce((collector, typeName) => {
                    return collector.concat(group.type[typeName].permissions);
                }, []);
                let count = groupPermissions.filter(per => this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId) >= 0).length;
                return count > 0 && count < groupPermissions.length;
            },
            isTypeIndeterminate(type) {
                let count = type.permissions.filter(per => this.selectedPermissions.findIndex(p => p.permissionId === per.permissionId) >= 0).length;
                return count > 0 && count < type.permissions.length;
            },
            onCheckChange(permission) {
                let index = this.selectedPermissions.findIndex(per => per.permissionId === permission.permissionId);
                if (index < 0) {
                    //-- grant
                    this.selectedPermissions.push(permission);
                } else {
                    this.selectedPermissions.splice(index, 1);
                }
            },
            isPermissionChecked(permission) {
                return this.selectedPermissions.findIndex(per => per.permissionId === permission.permissionId) >= 0;
            },
            getDisplayedPermissions(p) {
                return this.$store.state.allPermissions.filter(per => (this.isEdit(p)) || this.$store.state.policyPermissions.filter(pp => pp.policy_id === p.policy.id).map(pp => pp.permission).includes(per.permissionId));
            },
            getGroupedPermissions(permissions) {
                let grouped = [];

                permissions.forEach(per => {

                    let groupName = per.permissionGroup || "Unknown";
                    let group = grouped.find(g => g.groupName === groupName);
                    if (!group) {
                        group = {
                            groupName,
                            type: [],
                        };
                        grouped.push(group);
                    }

                    let typeName = per.permissionType || "Unknown";
                    let type = group.type.find(t => t.typeName === typeName);
                    if (!type) {
                        type = {
                            typeName,
                            permissions: []
                        };
                        group.type.push(type);
                    }
                    type.permissions.push(per);
                });

                grouped.forEach(g => {
                    g.type.sort((t1, t2) => t1.typeName.localeCompare(t2.typeName));
                });
                grouped.sort((g1, g2) => g1.groupName.localeCompare(g2.groupName));
                return grouped;
            },
            getGrantedNumber(policy) {
                return `${this.isEdit(policy) ? this.selectedPermissions.length : policy.permissions.length}/${this.$store.state.allPermissions.length}`;
            },
            handleSubmit() {
                this.editForm.validateFields((err, values) => {
                    if (!err) {
                        this.$store.dispatch(UPDATE_POLICY, {
                            id: this.editingPolicy.policy.id, ...values,
                            permissions: this.selectedPermissions.map(per => per.permissionId),
                            conditions: this.selectedConditions.filter(con => this.possibleConditions.findIndex(c => c.operatorName === con.operator) >= 0).map(con => ({
                                operator: con.operator,
                                value: JSON.stringify(con.value),
                            })),
                        })
                            .then(() => {
                                this.form.resetFields();
                                this.editPolicy();
                            })
                            .catch((err) => {
                                this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                            });
                    }
                });
            },
            handleDelete() {
                this.$store.dispatch(DELETE_POLICY, {id: this.editingPolicy.policy.id})
                    .then(() => {
                        this.editPolicy();
                    })
                    .catch((err) => {
                        this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                    });
            },
            isEdit(policy) {
                return this.editingPolicy === policy;
            },
            editPolicy(policy) {
                if (policy) {
                    this.selectedPermissions = policy.permissions.slice();
                    this.selectedConditions = policy.conditionData.slice();
                }
                this.editingPolicy = policy;
            },
            createPolicy() {
                this.form.validateFields((err, values) => {
                    if (!err) {
                        this.confirmLoading = true;
                        this.$store.dispatch(CREATE_POLICY, values)
                            .then((policyId) => {
                                this.form.resetFields();
                                this.modalVisible = false;
                                this.activeKey = policyId;
                            })
                            .catch((err) => {
                                this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                            })
                            .finally(() => {
                                this.confirmLoading = false;
                            });
                    }
                });
            },
            closeDialog() {
                this.modalVisible = false;
                this.form.resetFields();
            },
            changeTab(tabId) {
                if (tabId === undefined) {
                    //-- show dialog
                    this.modalVisible = true;

                } else {
                    this.activeKey = tabId;
                }
            }
        }
    }
</script>
