<template>
    <perfect-scrollbar class="flex-1">
        <div class="pages_home_role-management page">
            <h1>Role management</h1>
            <a-card>
                <div
                    class="role-tab"
                >
                    <a-tabs
                        :activeKey="activeKey"
                        tabPosition="top"
                        @prevClick="changeTab"
                        @nextClick="changeTab"
                        @change="changeTab"
                    >
                        <a-tab-pane v-for="role in roles" :tab="role.role.role_name" :key="role.role.id">
                            <a-form
                                :form="editForm"
                            >
                                <div>
                                    <h3>Role</h3>
                                    <div class="d-flex align-items-stretch flex-column margin-bottom-30px">
                                        <div class="d-flex align-items-start margin-bottom-5px">
                                            <div>Name</div>
                                            <div>
                                                <div v-if="!isEdit(role)">{{role.role.role_name}}</div>
                                                <div v-if="isEdit(role)">
                                                    <a-form-item>
                                                        <a-input
                                                            v-decorator="['role_name', {initialValue: role.role.role_name, rules: [{required: true}]}]"></a-input>
                                                    </a-form-item>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start margin-bottom-5px">
                                            <div>Is system role</div>
                                            <div>
                                                <div v-if="!isEdit(role)">{{!!role.role.is_system_role}}</div>
                                                <div v-if="isEdit(role)">
                                                    <a-form-item>
                                                        <a-checkbox
                                                            v-decorator="['is_system_role', {valuePropName: 'checked', initialValue: role.role.is_system_role}]"></a-checkbox>
                                                    </a-form-item>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Attached policies</h3>
                                    <div>
                                        <a-list
                                            v-if="!isEdit(role)"
                                            bordered
                                            :dataSource="getDisplayPolicies(role)"
                                            :locale="{'emptyText': 'No policy attached'}"
                                        >
                                            <a-list-item slot="renderItem" slot-scope="item">
                                                <div>
                                                    <div v-if="!isEdit(role)">
                                                        <a-icon type="link"></a-icon>
                                                        <span class="margin-left-10px">{{ item.policy_name }}</span>
                                                    </div>
                                                </div>
                                            </a-list-item>
                                        </a-list>
                                        <a-form-item v-if="isEdit(role)">
                                            <a-checkbox-group
                                                class="max-width"
                                                v-decorator="['policy_id', {initialValue: role.policies.map(p=>p.id)}]"
                                            >
                                                <a-list bordered
                                                        :dataSource="getDisplayPolicies(role)"
                                                        :locale="{'emptyText': 'No policy attached'}"
                                                >
                                                    <a-list-item slot="renderItem" slot-scope="item">
                                                        <div>
                                                            <div v-if="isEdit(role)">
                                                                <a-checkbox
                                                                    :value="item.id"
                                                                >
                                                                    {{ item.policy_name }}
                                                                </a-checkbox>
                                                            </div>
                                                        </div>
                                                    </a-list-item>
                                                </a-list>
                                            </a-checkbox-group>
                                        </a-form-item>
                                    </div>
                                </div>
                                <div class="d-flex margin-top-15px">
                                    <div>
                                        <div class="d-flex justify-content-end align-items-center"
                                             v-if="role.role.is_read_only">
                                            <a-icon type="lock"/>
                                            <div class="margin-left-10px font-italic">This role is not modifiable</div>
                                        </div>
                                        <div class="d-flex justify-content-end align-items-center"
                                             v-if="role.role.is_system_role">
                                            <a-icon type="setting"/>
                                            <div class="margin-left-10px font-italic">This role is not assignable to
                                                users
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="!role.role.is_read_only"
                                         class="d-flex align-items-center justify-content-end">
                                        <a-button
                                            v-if="!isEdit(role)"
                                            class="margin-left-10px"
                                            type="primary"
                                            shape="circle"
                                            icon="edit"
                                            size="small"
                                            @click="editRole(role)"/>
                                        <div
                                            v-if="isEdit(role)"
                                            class="d-flex"
                                        >
                                            <a-popconfirm
                                                arrowPointAtCenter
                                                title="Delete this role, you sure?"
                                                @confirm="handleDelete"
                                                okText="Yes"
                                                cancelText="No"
                                            >
                                                <a-button
                                                    class="margin-left-10px"
                                                    type="danger"
                                                    shape="circle"
                                                    icon="delete"
                                                    size="small"
                                                />
                                            </a-popconfirm>

                                            <a-button
                                                class="margin-left-10px"
                                                type="primary"
                                                shape="circle"
                                                icon="save"
                                                size="small"
                                                @click="handleSubmit"/>
                                            <a-button
                                                class="margin-left-10px"
                                                shape="circle"
                                                icon="close"
                                                size="small"
                                                @click="editRole"/>
                                        </div>
                                    </div>
                                </div>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane tab="Create new role +"></a-tab-pane>
                    </a-tabs>
                </div>
            </a-card>
            <a-modal
                title="Create new role"
                :closable="false"
                :maskClosable="false"
                :visible="modalVisible"
                :confirmLoading="confirmLoading"
                @ok="createRole"
                @cancel="closeDialog"
            >
                <a-form
                    layout="vertical"
                    :form="form"
                >
                    <a-form-item
                        label="Role name"
                    >
                        <a-input v-decorator="['role_name', {rules: [{ required: true, message: '' }]}]"
                                 :disabled="confirmLoading" placeholder="Name of role to create"/>
                    </a-form-item>
                    <a-form-item
                    >
                        <a-checkbox v-decorator="['is_system_role', {valuePropName: 'checked', initialValue: false}]"
                                    :disabled="confirmLoading">Is system role
                        </a-checkbox>
                    </a-form-item>
                </a-form>
            </a-modal>
        </div>
    </perfect-scrollbar>
</template>

<script>

    import "./role-management.scss";
    import {CREATE_ROLE, DELETE_ROLE, GET_ALL_POLICIES, GET_ALL_ROLES, UPDATE_ROLE} from "../../../store/actions";
    import AFormItem from "ant-design-vue/es/form/FormItem";

    export default {
        components: {AFormItem},
        data() {
            return {
                editingRole: undefined,
                form: this.$form.createForm(this, {}),
                editForm: this.$form.createForm(this, {}),
                modalVisible: false,
                confirmLoading: false,
                activeKey: 0,
            }
        },
        beforeCreate() {
            //-- load all roles
            this.$store.dispatch(GET_ALL_ROLES)
                .catch((err) => {
                    this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                });
            this.$store.dispatch(GET_ALL_POLICIES)
                .catch((err) => {
                    this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                });
        },
        computed: {
            roles() {
                return this.$store.state.roles.map((r) => ({
                    role: r,
                    policies: this.$store.state.policies.filter(policy => this.$store.state.rolePolicies.filter(rp => rp.role_id === r.id).map(rp => rp.policy_id).includes(policy.id))
                }));
            }
        },
        methods: {
            getDisplayPolicies(role) {
                return this.$store.state.policies.filter(policy => this.editingRole === role || this.$store.state.rolePolicies.filter(rp => rp.role_id === role.role.id).map(rp => rp.policy_id).includes(policy.id));
            },
            handleSubmit() {
                this.editForm.validateFields((err, values) => {
                    if (!err) {
                        this.$store.dispatch(UPDATE_ROLE, {
                                id: this.editingRole.role.id,
                                ...values,
                            }
                        )
                            .then(() => {
                                this.form.resetFields();
                                this.editRole();
                            })
                            .catch((err) => {
                                this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                            });
                    }
                });
            },
            handleDelete() {
                this.$store.dispatch(DELETE_ROLE, {id: this.editingRole.role.id})
                    .then(() => {
                        this.editRole();
                    })
                    .catch((err) => {
                        this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                    });
            },
            isEdit(role) {
                return role === this.editingRole;
            },
            editRole(role) {
                this.editingRole = role;
                if (!role) {
                    this.editForm.resetFields();
                }
            },
            createRole() {
                this.form.validateFields((err, values) => {
                    if (!err) {
                        this.confirmLoading = true;
                        this.$store.dispatch(CREATE_ROLE, values)
                            .then((roleId) => {
                                this.form.resetFields();
                                this.modalVisible = false;
                                this.activeKey = roleId;
                            })
                            .catch((err) => {
                                this.$notification.error({message: `ERROR: ${err.name}`, description: err.messages});
                            })
                            .finally(() => {
                                this.confirmLoading = false;
                            });
                    }
                });
            },
            closeDialog() {
                this.modalVisible = false;
                this.form.resetFields();
            },
            changeTab(tabId) {
                if (tabId === undefined) {
                    //-- show dialog
                    this.modalVisible = true;

                } else {
                    this.activeKey = tabId;
                }
            }
        }

    }
</script>
