@import "../../../variables";

.pages_home_role-management {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    h3 {
        color: $main-color !important;
    }

    .role-tab {

    }
}
